@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
/*  color: #fff;*/
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/*navbar border bottom style*/
.navbar-style {
  background-color: #202224 !important;
  border-bottom: 3px solid #6ca0dc;
}

.navbar-hover:hover {
  color: #6ca0dc !important;
}

.navbar-font {
  color: #fefefe !important;
}

.navbar-humburger {
  border-color: #fefefe !important;
}

/*for home page */
.skill-box {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 3px solid #6ca0dc;
  background-color: #6ca0dc;
  color: #fefefe;
  width: 100px;
  height: 50px;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
}

.skill-box:hover {
  transform: scaleX(1.1) rotateY(180deg);
  transition: transform 0.5s ease-in-out;
}

.intro {
  padding-top: 100px !important;
}

.specific-letter {
  color: #6ca0dc;
}

/*for all colors of the texts, paragraphs and headings */
.universal-color {
  color: #fff;
}

.icon {
  color: #6ca0dc;
}

.icon {
  transition: transform 0.5s;
}

.icon:hover {
  transform: translateY(-5px);
}

/*home page h1 animation effect*/
.typing-animation {
  overflow: hidden; /* Hide the overflow */
  border-right: .15em solid #6ca0dc; /* Add a border that simulates typing */
  white-space: nowrap; /* Keep text on a single line */
  margin: 0; /* Reset margin for cleaner look */
  padding: 0; /* Reset padding for cleaner look */
  display: inline-block;
  vertical-align: top; /* Align the text properly */
  transition: border-right .5s steps(40, end); /* Add transition effect for typing animation */
  align-items: center;
}

.skillbox-width {
  width: 50%;
}

/*This is for about section*/
.about-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.about-tab {
  display: inline-block;
  padding: 25px;
  font-size: 1.2rem;
  margin-top: 40px;
}

.about-tab:hover {
  cursor: pointer;
  color: #6ca0dc;
}

.about-txt {
  font-size: 1.2rem;
  text-align: justify;
}

.about-section {
  width: 60%;
  margin: 0 auto;
}

.about-educ {
  font-size: 1.2rem;
}

/*This is for projects section*/
.project-txt {
  color: #fff !important;
}

.project-card {
  background-color: #454545;
  overflow: hidden;
}

.project-card-bottom {
  background-color: #454545;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.project-skillcard {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 80px;
  text-align: center;
  border-box: 1px solid #6ca0dc;
  background-color: #6ca0dc;
  color: #fff;
}

.project-cardtxt {
  width: 260px; /* Set your desired width */
  height: 55px; /* Set a maximum height for vertical scrolling */
  overflow: auto; /* Enable scrolling for overflow content */
  white-space: nowrap; /* Prevent text from wrapping */
}

.col-hover:hover {
  transform: scale(1.03); /* Scale the size by 3% */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  border-radius: 5px; /* Add some border radius for a smoother look */
}

/*This is for contact section*/
.form-styling {
  width: 50%;
  padding: 30px;
  border: 3px solid #a6a6a6;
  border-radius: 15px;
  box-shadow: -5px 5px 10px #888888;
}

.form-button {
  background-color: #6ca0dc !important;
  border: none !important;
  width: 100% !important;
  border-radius: 5px !important;
  align-items: center !important;
  display: block !important; /* Ensures the button is a block element */
  margin: 0 auto !important; /* Auto margins horizontally center the block element */
}

/* For screens smaller than 576px (typical mobile view) */
@media (max-width: 575.98px) {
  .form-styling {
    width: 90%; 
    padding: 20px;
  }
}
