* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

.navbarStyle {
  background-color:  #590000;
  border-bottom: 3px solid #ffcece;
  font-size: 15px;
}

.logo-text {
  font-size: 20px !important;
}

.navbar-toggler {
  background-color: #f8f9fa !important;
}

.left-col {
  background-color: #590000;
  color: #ffffff;
  min-height: 100vh;
}

.right-col {
  background-color: #f8f9fa;
  color: black;
}

.login-bottom {
  background-color:  #590000 !important;
  color: #ffffff !important;
  border: 3px solid #590000 !important;
}

.horizontal-line {
  border-bottom: 2px solid #f8f9fa;
}

.complete {
  background-color: green;
  color: white;
}

.delete {
  background-color: darkred;
  color: white;
}

.col-height {
  height: 100%;
}

/*.overflow-auto {
  overflow-y: auto;
  overflow-x: auto;
}
*/