body {
	font-family: Arial;
}

.todo-grid,
.todo-input-grid {
	display: grid;
	grid-template-columns: 200px 150px 100px;
	column-gap: 10px;
	row-gap: 10px;
	align-items: center;
}

.todo-input-grid {
	margin-bottom: 10px;
	align-items: stretch;
}

.name-input,
.due-date-input {
	font-size: 15px;
	padding: 6px;
}

.add-todo-button {
	background-color: green;
	color: white;
	border: none;
	font-size: 15px;
	cursor: pointer;
}

.delete-todo-button {
	background-color: darkred;
	color: white;
	border: none;
	font-size: 15px;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
}